/* Standard */

html {
	font-family: 'Roboto', sans-serif;
}

main {
	background: #485564;
	color: #FAFAFA;

h1 {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

body {
  padding: 30px;
  text-align: center;
}

/* Classes */

.header {
  padding: 30px;
  text-align: center;
  font-size: 45px;
}
