/* Standard */

h1 {
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

body {
  padding: 30px;
  text-align: center;
}

/* Classes */

.header {
  padding: 30px;
  text-align: center;
  font-size: 45px;
}
